.main
  .main__header
    .header-left
      .group__name techcamp
      %ul.member-list
        Member :
        %li.list
          masa
    %input(type="button" class="btn" value="Edit")

  .main__chatspace
    = render @messages

  .main__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        .image
          = f.label :image, class: 'image-add' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'btn'

