.side-bar
  .side-bar__header
    .user
      %h3.user__name
        = current_user.name
      .user__icon
        = link_to "#", class: "far fa-edit" do
          = icon("far", "fa-edit")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .side-bar__list
    = link_to '#', class: "group" do
      %p.group-name techcamp
      %p.text-message まだメッセージはありません
    = link_to '#', class: "group" do
      %p.group-name html
      %p.text-message まだメッセージはありません
    = link_to '#', class: "group" do
      %p.group-name ruby
      %p.text-message まだメッセージはありません
